
<mat-toolbar  style="background-color: rgb(199, 128, 23);">
  <button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>Recipes For You</span>
  <div class=" col-6" style="margin-left: 500px;">
    
    <div class="input-group">

      <input type="search" class="form-control rounded" placeholder="Search" [(ngModel)]="SearchInput" />
      <button  mat-raised-button  style="background-color: rgb(125, 72, 11); " [routerLink]="['/Search/Result/',SearchInput]" >Search</button>
      
    </div>
  </div>
  
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav #nav>
    <a href="">
      <button mat-button style="margin-top: 1px;margin-left: 10px;">
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <div style="margin-top: 15px;">
      <a >
        <button mat-raised-button style="background-color: rgb(125, 72, 11); margin-left: 20px;" [routerLink]="['Add']">
          Add Recipe
        </button>
      </a>
  </div>
  <div style="margin-top: 15px; margin-left: 10px;">
    <div class="form-group">
      <div class=" col-6"></div>
        <h4>filter</h4>
        <select #ref (change)="getSelectedValue(ref.value)" (change)="convertTostring()" >
          <option value=""></option>
          <option *ngFor="let ingr of ingrediants" value="{{ingr.name}}">{{ ingr.name }}</option>
        </select>
      </div>
      <div class=" col-6">
        <div class="form-group">
          <h3 for="Ing">Ingrediants</h3>
          <mat-chip-set class="example-chip"
              cdkDropList 
              cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="drop($any($event))">
              <mat-chip
              class="example-box"
              cdkDrag
              (removed)="remove(ingre)"
              *ngFor="let ingre of listOfIngredients">
              {{ingre}}
              <button matChipRemove >
                  <mat-icon>cancel</mat-icon>
              </button>
           </mat-chip>
          </mat-chip-set>
          <button   mat-raised-button style="background-color: rgb(125, 72, 11); margin-left: 20px;"  [routerLink]="['/SearchIngredie/Result/', SearchIngredient]" >Filter</button>
        </div>
      </div>
      <div style="margin-top: 350px; margin-left: 20px;" *ngIf="!isLogged">
        <button mat-raised-button style="background-color: rgb(125, 72, 11); margin-left: 5px;" [routerLink]="['LogIn']">
          LogIn
        </button>
      </div>
      <div style="margin-top: 350px; margin-left: 20px;" *ngIf="isLogged">
        <button mat-raised-button style="background-color: rgb(168, 53, 42); margin-left: 5px;" (click)="singOu()">
          Sign Out
        </button>
      </div>
    </div>
  </mat-sidenav>
  
</mat-sidenav-container>
<router-outlet></router-outlet>
