.example-card {
    max-width: 500px;
    max-height: 500xp;
    margin-bottom: 8px;
    background-color: aliceblue;
  }
  .action{
    padding: 0px 25px 20px;
  }
  .b1{
    margin-right: 300px;
    margin-top: 20px;
  }
  .b2{
    margin-top: 20px;
  }
  .checked{
    color: orange;
  }
  .theRste{
    color: orange;
  }