<div *ngIf="Loading">
  <mat-spinner style="margin-left: 700px; " color="warn" diameter="40"></mat-spinner>
</div>
<!-- Cards with media area -->
<mat-card class="example-card" style="margin-left: 160px;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{recipe.name}}</mat-card-title>
        <mat-card-subtitle>Name</mat-card-subtitle>
        <img mat-card-lg-image *ngIf="recipe.image==null" src="assets/img/default.jpg" >
        <img mat-card-lg-image *ngIf="recipe.image!=null" src={{recipe.image}}  >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Category :-
     </mat-card-content>
     <mat-card-content>
      {{recipe.category}} 
     </mat-card-content>
    <mat-card-content>
     Ingredients:-
    </mat-card-content>
    <mat-card-content>
     {{recipe.ingredients}}
    </mat-card-content>
    
    <mat-card-content>
     Steps :-
    </mat-card-content>
    <mat-card-content>
     {{recipe.steps}} 
    </mat-card-content>
    <div *ngIf="Loading" class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{ mseesage}}</strong>
    </div>
    <div class="action" *ngIf="authorized">
      <button (click)="openDialog(recipe)" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b1">Edit</button>
      <button (click)="deletRecipe(recipe.id)" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b2">Delete</button>
    </div>
    <div class="action" *ngIf="!authorized">
      <button (click)="Notauthorized()" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b1">Edit</button>
      <button (click)="Notauthorized()" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b2">Delete</button>
    </div>
    <div [formGroup]="Review">
      <mat-icon *ngFor="let star of maxRatingArray ;let index=index" (mouseenter)="handelEnter(index)" 
      (mouseleave)="handelLeave()"
      (click)="Rating(index)"
      [ngClass]="{checked:selectStar>index}">
        star</mat-icon>
        <label >Enter your review</label>
        <input type="text" [(ngModel)]="rate.review" formControlName="review">
        <span *ngIf="review.invalid"> Review is required </span> 
    </div>
    <div *ngIf="rate.review.length==0">
      <button mat-raised-button color="primary" disabled style="background-color: rgb(125, 72, 11); margin-left: 20px;" (click)=" send()"   >Send</button>
    </div>
    <div *ngIf="rate.review.length!=0">
      <button mat-raised-button color="primary" style="background-color: rgb(125, 72, 11); margin-left: 20px;" (click)=" send()"   >Send</button>
    </div>
    <div class="model"></div>
    <div *ngIf="!AddedToFavorite">
      <button mat-raised-button style="margin-top:25px;   margin-left: 20px;" (click)=" AddToFavorite()"  >
        <mat-icon >favorite</mat-icon>
      </button>
    </div>
    <div  *ngIf="AddedToFavorite"> 
      <button mat-raised-button style="margin-top:25px;   margin-left: 20px;" (click)="  RemoveFromFavorite()" >
        <mat-icon color="warn" >favorite</mat-icon>
      </button>
    </div>
  </mat-card>
  <hr>
  <mat-card class="example-card" style="margin-left: 160px;">
    <mat-card-header>
    
      <mat-card-title-group>
        </mat-card-title-group>
        <mat-card-title>Reviews</mat-card-title>
        <div style="margin-left: 10px;" *ngIf="!seeReviewClicked" >
          <button  mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" (click)="getReviews()" >More</button>
        </div>
        <div style="margin-left: 10px; margin-block-start:10px ;" *ngIf="seeReviewClicked">
          <button  mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" (click)=" refrash()" >less</button>
         </div>
    </mat-card-header>
  </mat-card>


  <mat-card class="example-card" style="margin-left: 160px;">
    <mat-card-header>
      <mat-card-title-group>
        <div fxLayout="row">
          <div class="container" >
            <div class="flex-container" fxLayout="row" *ngFor="let review of reviews">
              
              <mat-card-content >
                <mat-icon  *ngFor="let star of maxRatingArray;let index=index" 
                [ngClass]="{checked:review.rate>index}">
                  star</mat-icon>
                {{review.rate}}
              </mat-card-content>
              <mat-card-content style="margin-top: 20px; ">
                {{review.review}}
              </mat-card-content>
              <mat-card-content style="margin-top: 20px; "  *ngIf="review.userName!=username">
                <a [routerLink]="['/User/',review.userId]">{{review.userName}}</a> 
            </mat-card-content>
            <mat-card-content style="margin-top: 20px; "  *ngIf="review.userName==username">
              <a href="Profile">{{review.userName}}</a> 
          </mat-card-content>
          </div>
        </div>
        </div>
        
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
        


