<!-- Cards with media area -->
<mat-card class="example-card" style="margin-left: 160px;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{recipe.name}}</mat-card-title>
        <mat-card-subtitle>Name</mat-card-subtitle>
        <img mat-card-lg-image *ngIf="recipe.image==null" src="assets/img/default.jpg" >
        <img mat-card-lg-image *ngIf="recipe.image!=null" src={{recipe.image}}  >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
     Ingredients:-
    </mat-card-content>
    <mat-card-content>
     {{recipe.ingredients}}
    </mat-card-content>
    <mat-card-content>
     Steps :-
    </mat-card-content>
    <mat-card-content>
     {{recipe.steps}} 
    </mat-card-content>
   
    <div class="action" *ngIf="authorized">
      <button (click)="openDialog(recipe)" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b1">Edit</button>
      <button (click)="deletRecipe(recipe.id)" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b2">Delete</button>
    </div>
    <div class="action" *ngIf="!authorized">
      <button (click)="Notauthorized()" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b1">Edit</button>
      <button (click)="Notauthorized()" mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" class="b2">Delete</button>
    </div>
    <div>
      <mat-icon *ngFor="let star of maxRatingArray ;let index=index" (mouseenter)="handelEnter(index)"
      (mouseleave)="handelLeave()"
      (click)="Rating(index)"
      [ngClass]="{checked:selectStar>index}">
        star</mat-icon>
        <label >Enter your review</label>
        <input type="text" [(ngModel)]="rate.review">
     
    </div>
    <div>
      <button mat-raised-button color="primary" style="background-color: rgb(125, 72, 11); margin-left: 20px;" (click)=" send()"   >Send</button>
    </div>
    <div class="model"></div>
  </mat-card>
  <mat-card class="example-card" style="margin-left: 160px;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Reviews</mat-card-title>
        <div fxLayout="row">
          <div style="margin-left: 10px;" *ngIf="!seeReviewClicked" >
            <button  mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" (click)="getReviews()" >More</button>
          </div>
          <div style="margin-left: 10px; margin-block-start:10px ;" *ngIf="seeReviewClicked">
            <button  mat-raised-button color="primary" style="background-color: rgb(125, 72, 11);" (click)=" refrash()" >less</button>
           </div>
          <div class="container" >
            <div class="flex-container" fxLayout="row" *ngFor="let review of reviews">
              
              <mat-card-content >
                <mat-icon  *ngFor="let star of maxRatingArray;let index=index" 
                [ngClass]="{checked:review.rate>index}">
                  star</mat-icon>
                {{review.rate}}
              </mat-card-content>
              <mat-card-content style="margin-top: 20px; ">
                {{review.review}}
              </mat-card-content>
          </div>
        </div>
        </div>
        
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
        


