<div style="margin-left: 180px; margin-top: 25px;" >
    <h1>We send you an email Please Chick your mail</h1>
    <hr>
    <div>
        <div style="margin-top: 40px;">
            <label>Token</label>
            <textarea style="margin-left: 90px;" type="text" name="newpassword" [(ngModel)]="restPass.token"></textarea>
        </div>
        <div style="margin-top: 40px;">
            <label>Username</label>
            <input style="margin-left: 65px;" type="text" name="Username" [(ngModel)]="username" >
        </div>
        <div style="margin-top: 40px;">
            <label>New Password</label>
            <input style="margin-left: 65px;" type="text" name="newpassword" [(ngModel)]="restPass.passwored" >
        </div>
        <div style="margin-top: 40px;">
            <label>Confirm Password</label>
            <input style="margin-left: 47px;" type="text" name="confirmpassword" [(ngModel)]="restPass.confirmPasswored" >
        </div>
        <div style="margin-top: 40px;">
            <button mat-raised-button style="background-color: rgb(125, 72, 11); color: white;" (click)="resetPassworedd()">Save </button>
        </div>
    </div>
    
</div>
