<div style="background-color: white;">
    <div style="background-color: white; margin-left: 20px;">
        <h2 style="margin-right: 2%;"> Edit form</h2>
        <div style="margin-right: 2%;">
            <form  [formGroup]="Edite" #form="ngForm" (ngSubmit)=" editRecipe()" >
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" formControlName="Name" placeholder="Enter recipe name" [(ngModel)]="recipe.name" >
                    <span *ngIf="Name.invalid"> Name is too short</span>
                </div>
                <div class="form-group">
                    <label for="ingredient">Select the ingrediants</label>
                    <select #ref (change)="getSelectedValue(ref.value)" >
                        <option value=""></option>
                       <option *ngFor="let ingr of ingrediants" value="{{ingr.name}}">{{ ingr.name }}</option>
                    </select>
                   
                </div>
                <div class="form-group">
                    <h3 for="Ing">Ingrediants</h3>
                    <mat-chip-set class="example-chip" 
                        cdkDropList 
                        cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($any($event))">
                        <mat-chip
                            class="example-box"
                            cdkDrag
                            (removed)="remove(ingre)"
                            *ngFor="let ingre of listOfIngredients">
                            {{ingre}}
                            <button matChipRemove  >
                                <mat-icon>cancel</mat-icon>
                            </button>
                         </mat-chip>
                    </mat-chip-set>
                </div>
            <div class="form-group">
                <label for="ingredient">Select the Category</label>
                <select #reff (change)="getSelectedCategory(reff.value)"formControlName="Ingrediant" [(ngModel)]="recipe.category">
                    <option value=""></option>
                   <option *ngFor="let category of Categories" value="{{category.category}}">{{ category.category }}</option>
                   
                </select>
            </div>
            <div>
                <label>Category</label>
                <input type="tel"  formControlName="Category" [(ngModel)]="recipe.category" readonly >
                <span *ngIf="Category.invalid"> Category is required </span>
            </div>
                <div class="form-group">
                    <label for="Steps">Steps</label>
                    <textarea matInput class="form-control" id="Steps" formControlName="Steps" placeholder="Enter recipe Steps" [(ngModel)]="recipe.steps"></textarea>
                    <span *ngIf="Steps.invalid"> Steps is too short</span>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a (click)="removeImage()">
                            <mat-icon>cancel</mat-icon>
                        </a>
                        <img  width="100" height="100" src="{{imageUrl}}">
                       
                        
                        <input type="file"  #Image accept="image/*" (change)="handelDileInput($any($event).target.files)" (change)="selectedImage=true" >
                    </div>
                </div>
                <div *ngIf="selectedImage">                    
                    <button type="submit" class="b1" (click)="onSubmit(Image)" style="background-color: rgb(125, 72, 11);"mat-raised-button color="primary">Save</button>
                    <button  matDialogClose class="b2" style="background-color: rgb(125, 72, 11);" mat-raised-button color="primary">Cancel</button>
                </div>
                <div *ngIf="!selectedImage">                   
                    <button type="submit" class="b1" style="background-color: rgb(125, 72, 11);" mat-raised-button color="primary"  >Save</button>
                    <button  matDialogClose class="b2" style="background-color: rgb(125, 72, 11);" mat-raised-button color="primary" (click)="refrash()">Cancel</button>
                </div>
            </form>
        </div>
        
    </div>
    
    
</div>
