<div class="container my-5">
    <h1 class="mb-3"> Add New Recipe</h1>
    <div class="row">
        <div class=" col-6">
            <form  [formGroup]="addNew" #form="ngForm" (ngSubmit)="addRecipe()" >
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" formControlName="Name" placeholder="Enter recipe name" [(ngModel)]="recipe.name">
                    <span *ngIf="Name.invalid"> Name is too short</span>
                </div>
                <div class="form-group">
                    <label for="ingredient">Select the ingrediants</label>
                    <select #ref (change)="getSelectedValue(ref.value)"formControlName="Ingrediant">
                        <option value=""></option>
                       <option *ngFor="let ingr of ingrediants" value="{{ingr.name}}">{{ ingr.name }}</option>
                    </select>
                    <span *ngIf="Ingrediant.invalid">not enough ingrediants</span>
                    <label>Add new Ingrediant</label><input type="text" class="small" id="newIngrediant"  [(ngModel)]="NewIngrediant.name">
                    <a type="submit" (click)="AddIngrediant()" (click)="getSelectedValue(NewIngrediant.name)" class="btn btn-primary">Add</a>
                </div>
                <div class="form-group">
                    <h3 for="Ing">Ingrediants</h3>
                    <mat-chip-set class="example-chip" formControlName="Ingrediant"
                    cdkDropList 
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($any($event))">
                    <mat-chip
                        class="example-box"
                        cdkDrag
                        (removed)="remove(ingre)"
                        *ngFor="let ingre of listOfSelectedIngrediants">
                        {{ingre}}
                        <button matChipRemove >
                            <mat-icon>cancel</mat-icon>
                          </button>
                     </mat-chip>
                     <span *ngIf="Ingrediant.invalid"> ingrediants is requored </span>
                </mat-chip-set>
                </div>
                <div class="form-group">
                    <label for="ingredient">Select the Category</label>
                    <select #reff (change)="getSelectedCategory(reff.value)"formControlName="Ingrediant">
                        <option value=""></option>
                       <option *ngFor="let category of Categories" value="{{category.category}}">{{ category.category }}</option>
                    </select>
                </div>
                <div>
                    <label>Category</label>
                    <input type="tel"  formControlName="Category" [(ngModel)]="selectedCategory" readonly >
                    <span *ngIf="Category.invalid"> Category is required </span>
                </div>
                <div class="form-group">
                    <label for="Steps">Steps</label>
                    <textarea matInput class="form-control" id="Steps" name="Steps" formControlName="Steps" placeholder="Enter recipe Steps" [(ngModel)]="recipe.steps"></textarea>
                    <span *ngIf="Steps.invalid"> Steps is too short</span>
                </div>
                <div class="form-group">
                    <input type="file"  #Image accept="image/*" (change)="handelDileInput($any($event).target.files)" (change)="selecte=true">
                    <img width="100" height="100" src="{{imageUrl}}">
                </div>
                <div *ngIf="selecte">                    
                    <button type="submit" class="btn btn-primary" (click)="onSubmit(Image)" >Save</button>
                </div>
                <div *ngIf="!selecte">                   
                    <button type="submit" class="btn btn-primary" >Save</button>
                </div>
            </form>
           
        </div>

    </div>
</div>